.rl2-exhibit #explore-exploit-ui {
  position: relative;
  bottom: auto;
}

.rl2-exhibit #lang-switcher-container .lang-switcher {
  top: 25px;
  left: 0;
  right: auto;
  bottom: auto;
}

$exhibit-long-side: 1180px;
$exhibit-short-side: 820px;

.rl2-exhibit {
  @include roboto-regular;
  width: $exhibit-long-side;
  height: $exhibit-short-side;
}

.rl2-exhibit-portrait {
  width: $exhibit-short-side;
  height: $exhibit-long-side;
}

.rl2-exhibit {
  #rewards-bar {
    top: 80px;
    left: 80px;

    .label {
      @include ui-text;
    }
  }

  #rewards-ui {
    left: 80px;
    top: 250px;
  }

  #explore-exploit-ui {
    position: absolute;
    top: 250px;
    left: 40px;
  }

  #palette .exhibit-maze-editor-palette {
    top: 40px;
    left: 40px;
    bottom: auto;
  }

  #training-ui {
    bottom: auto;
    left: 265px;
    top: 680px;
  }
}

#def-candy {
  left: 256px;
  top: 236px;
}

#def-lava {
  left: 470px;
  top: 236px;
}

#def-exit {
  left: 620px;
  top: 236px;
}

#lang-switcher-container {
  display: none;
}

